__pycache__/UserServices.cpython-311.pyc
__pycache__/mongo.cpython-311.pyc
__pycache__/user_services.cpython-311.pyc
__pycache__/user.cpython-311.pyc
__pycache__/user_dto.cpython-311.pyc
__pycache__/UserDTO.cpython-311.pyc
.vscode/settings.json
User/__pycache__/user_dto.cpython-311.pyc
User/__pycache__/user_services.cpython-311.pyc
User/__pycache__/UserServices.cpython-311.pyc
